In [2]:
import numpy as np
import pandas as pd

In [4]:
base = pd.read_csv('../data/coffee_data.csv')
base['ano'] = base.data
base.ano = base['ano'].str[6:11]
base = base.iloc[::-1]
base.head()
# Rows 4996 x Columns 8

            data  final  abertura  maxima  minima  volume  variacao   ano
4965  05.01.2001  71.00      70.4    71.0   69.70    0.80      0.00  2001
4964  08.01.2001  70.80      71.5    73.5   70.25    1.34      0.20  2001
4963  09.01.2001  70.75      70.4    70.8   69.25    1.34      0.05  2001
4962  10.01.2001  71.00      70.8    71.0   70.00    1.06     -0.25  2001
4961  11.01.2001  71.45      70.9    71.8   70.50    0.80     -0.45  2001

In [13]:
splits = {'train': [], 'test': []}
year_list = base['ano'].unique()

In [ ]:
for idx, yr in enumerate(year_list):
    train_yr = year_list[:idx+1]
    test_yr = [year_list[idx+1]]
    # print('TRAIN: ', train_yr, 'TEST: ',test_yr)
    splits['test'] = []
    for i, row in base.iterrows():
        for y in train_yr:
            if row['ano'] == y:
                splits['train'].append(row)
        if row['ano'] == yr:
            splits['test'].append(row)